@model DACS.Models.Iphone;
<table class="table">
    <tbody>
        <tr>
            <td>
                <h5>Chip</h5>
            </td>
            <td>
                <h5>@Model.Chip</h5>
            </td>
        </tr>
        <tr>
            <td>
                <h5>ROM</h5>
            </td>
            <td>
                <h5>@Model.Rom</h5>
            </td>
        </tr>
        <tr>
            <td>
                <h5>RAM</h5>
            </td>
            <td>
                <h5>@Model.Ram.TenRam</h5>
            </td>
        </tr>
        <tr>
            <td>
                <h5>Camera sau</h5>
            </td>
            <td>
                <h5>@Model.CameraSau</h5>
            </td>
        </tr>
        <tr>
            <td>
                <h5>Camera trước</h5>
            </td>
            <td>
                <h5>@Model.CameraTruoc</h5>
            </td>
        </tr>
        <tr>
            <td>
                <h5>Pin</h5>
            </td>
            <td>
                <h5>@Model.Pin</h5>
            </td>
        </tr>
    </tbody>
</table>