@model DACS.Models.VeGiamGia

@{
    ViewData["Title"] = "Delete";
    Layout = "_DashBoardAdmin";

}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Discount voucher</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            Date founded
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayThietLap)
        </dd>
        <dt class = "col-sm-2">
            Max quantity use
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongToiDaSuDung)
        </dd>
        <dt class = "col-sm-2">
           Reduction rate code
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TyleGiam)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaVeGiamGia" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
