@model DACS.Models.VeGiamGia

@{
    ViewData["Title"] = "Details";
    Layout = "_DashBoardAdmin";

}

<h1>Details</h1>

<div>
    <h4>VeGiamGia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayThietLap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayThietLap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongToiDaSuDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongToiDaSuDung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TyLeGiam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TyLeGiam.MaTyLeGiam)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaVeGiamGia">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
