@model DACS.Models.VeGiamGia

@{
    ViewData["Title"] = "Details";
    Layout = "_DashBoardAdmin";
}

<h1>Chi tiết mã giảm giá</h1>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Mã giảm giá</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Code)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Code)
            </dd>
            <dt class="col-sm-2">
                Ngày tạo
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NgayThietLap)
            </dd>
            <dt class="col-sm-2">
                Số lượng sử dụng tối đa
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SoLuongToiDaSuDung)
            </dd>
            <dt class="col-sm-2">
                Tỷ lệ giảm
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TyleGiam)
            </dd>
        </dl>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model?.MaVeGiamGia" class="btn btn-primary">Chỉnh sửa</a>
    <a asp-action="Index" class="btn btn-secondary">Trở về</a>
</div>
