@model DACS.Models.DonHang

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DonHang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayLapDonHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayLapDonHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TongGiaTriDonHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TongGiaTriDonHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenKhachHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenKhachHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YeuCauKhac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YeuCauKhac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VeGiamGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VeGiamGia.MaVeGiamGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThaiDonHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThaiDonHang.MaTrangThaiDonHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThaiThanhToan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThaiThanhToan.MaTrangThaiThanhToan)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaDonHang">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
