@{
    Layout = "_DashBoardAdmin";
}
@model DACS.Models.Iphone;

<!DOCTYPE html>
<html>
<head>
    <title>Chi tiết</title>
</head>
<body>
    <div style="background-color: #ffffff; display:flex; flex-direction:row;">
        <div>
            <h3>Thông tin sản phẩm</h3>
            <p><strong>Tên sản phẩm:</strong> @Model.TenSanPham</p>
            <p><strong>Dung lượng:</strong> @Model.BoNho.DungLuongBoNho</p>
            <p><strong>Sản phẩm: </strong> @Model.LoaiSanPham.TenLoaiSanPham</p>
            <p><strong>Màu sắc:</strong> @Model.MauSac.TenMau</p>
            <p><strong>RAM:</strong> @Model.Ram.TenRam</p>
            <p><strong>Thương hiệu:</strong> @Model.ThuongHieu.TenThuongHieu</p>
            <p><strong>Chip:</strong> @Model.Chip</p>
            <p><strong>Rom:</strong> @Model.Rom</p>
            <p><strong>Camera trước:</strong> @Model.CameraTruoc</p>
            <p><strong>Camera sau:</strong> @Model.CameraSau</p>
            <p><strong>Pin:</strong> @Model.Pin</p>
            <p><strong>Warranty:</strong> @Model.ThoiHanBaoHanh</p>

            <h3>Product image</h3>
            @if (Model.HinhAnh != null)
            {
                <div>
                    @foreach (var image in Model.HinhAnh)
                    {
                        <img src="~/Images/@image.FileHinhAnh" alt="Hình ảnh sản phẩm" />
                    }
                </div>
            }
            else
            {
                <p>Không có hình ảnh hợp lệ cho sản phẩm này </p>
            }

        </div>
        <div>
            <div style="width:180px;  height:40px; text-align:center; margin-top:30px;" class="btn btn-primary">
                <a style="color: #ffffff;" asp-area="Admin" asp-controller="Iphone" asp-action="Index">Trở về</a>
            </div>
        </div>
    </div>
    
</body>
</html>

