@{
    Layout = "_DashBoardAdmin";
}
@model DACS.Models.Laptop;

<!DOCTYPE html>
<html>
<head>
    <title>Details</title>
</head>
<body>
    <div style="background-color: #ffffff; display:flex; flex-direction:row;">
        <div>
            <h1>Product information</h1>
            <p><strong>Product name:</strong> @Model.TenSanPham</p>
            <p><strong>Capacity:</strong> @Model.BoNho.DungLuongBoNho</p>
            <p><strong>Product: </strong> @Model.LoaiSanPham.TenLoaiSanPham</p>
            <p><strong>Color:</strong> @Model.MauSac.TenMau</p>
            <p><strong>RAM:</strong> @Model.Ram.TenRam</p>
            <p><strong>Brand:</strong> @Model.ThuongHieu.TenThuongHieu</p>
            <p><strong>CPU:</strong> @Model.CPU</p>
            <p><strong>Flow multipliers:</strong> @Model.SoNhanLuong</p>
            <p><strong>VGA:</strong> @Model.VGA</p>
            <p><strong>Weight</strong> @Model.TrongLuong</p>

            <h2>Product image</h2>
            @if (Model.HinhAnh != null)
            {
                <div>
                    @foreach (var image in Model.HinhAnh)
                    {
                        <img src="~/Images/@image.FileHinhAnh" alt="Product Image" />
                    }
                </div>
            }
            else
            {
                <p>No images available for this product.</p>
            }

        </div>
        <div>
            <div style="width:180px;  height:40px; text-align:center; margin-top:30px;" class="btn btn-primary">
                <a style="color: #ffffff;" asp-area="Admin" asp-controller="Laptop" asp-action="Index">Back</a>
            </div>
        </div>
    </div>

</body>
</html>

