@model DACS.ViewModel.SanPhamChiTietViewModel;

<style>
    .notification {
        font-size: 16px;
        text-align: center;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        z-index: 999;
        width: 300px;
        background-color: #f0f0f0; /* Màu nền của box thông báo */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hiệu ứng bóng đổ */
    }

        .notification-content img {
            margin-bottom: 10px;
        }

        .notification-content p {
            margin-bottom: 10px;
        }

        .notification-content button {
            background-color: #28a745;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

            .notification-content button:hover {
                background-color: #218838;
            }

    .image-slider {
        position: relative;
        width: 100%;
        max-width: 600px;
        margin: auto;
    }

    .slides {
        display: flex;
        overflow-x: hidden;
    }

    .slide {
        width: 100%;
        display: none;
    }

    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 16px;
        cursor: pointer;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        border: none;
        z-index: 1;
    }

    .prev {
        left: 0;
    }

    .next {
        right: 0;
    }
</style>
<body>
    <partial name="_BannerPartial" />

    <div class="product_image_area section_padding">
        <div class="container">
            <div class="row s_product_inner justify-content-between">
                <div class="col-lg-7 col-xl-7">
                    <div class="image-slider" style="transform:translateY(-50px);">
                        <div class="slides">
                            @foreach (var hinhAnh in Model.SanPham.HinhAnh)
                            {
                                <img class="slide" src="~/Images/@hinhAnh.FileHinhAnh">
                            }
                        </div>
                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>
                    </div>
                </div>
                <div class="col-lg-5 col-xl-4">
                    <div class="s_product_text">
                        <h3>@Model.SanPham.TenSanPham</h3>
                        <h2>@Model.SanPham.Gia.ToString("#,##0 đ")</h2>
                        <ul class="list">
                            <li>
                                <a class="active" href="#">
                                    <span>Brand</span> : @Model.SanPham.ThuongHieu.TenThuongHieu
                                </a>
                            </li>
                            <li>
                                <a href="#"> <span>Availibility</span> : In Stock</a>
                            </li>
                            @await Component.InvokeAsync("ProductLine", new { Model.SanPham.MaLoaiSanPham, Model.SanPham.MaMauSac })
                        </ul>
                        <p>
                            @Model.SanPham.Mota
                        </p>
                        <div class="card_area d-flex justify-content-between align-items-center">
                            <button onclick="addToCart(@Model.SanPham.MaSanPham)" style="text-decoration:none;" class="btn_3">add to cart</button>
                        </div>
                        <div id="cart-notification" class="notification">
                            <div class="notification-content">
                                <img src="~/image-cart/correct.png" alt="Tick" class="banner-img">
                                <div>
                                    <p>Add to cart successfully!</p>
                                    <button onclick="closeNotification()">OK</button>
                                </div>
                            </div>
                        </div>

            </div>
        </div>
    </div>

    <section class="product_description_area">
        <div class="container">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                       aria-selected="true">Description</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                       aria-selected="false">Specification</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
                       aria-selected="false">Reviews</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <p>
                        @Model.SanPham.Mota
                    </p>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="table-responsive">
                        @if (Model.SanPham is Laptop)
                        {
                            <partial name="_LaptopPartial" model="Model.SanPham" />
                        }
                        else if (Model.SanPham is Iphone)
                        {
                            <partial name="_IphonePartial" model="Model.SanPham" />
                        }
                        else if (Model.SanPham is IMac)
                        {
                            <partial name="_iMacPartial" model="Model.SanPham" />
                        }
                        else if (Model.SanPham is Ipad)
                        {
                            <partial name="_iPadPartial" model="Model.SanPham" />
                        }


                    </div>
                </div>
                <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
                    @{
                        bool daBinhLuan = false;
                        if (Model.User != null)
                        {
                            foreach (var nguoiDungDanhGia in Model.SanPham.BinhLuan)
                            {
                                if (nguoiDungDanhGia.Id == Model.User.Id)
                                {
                                    daBinhLuan = true;
                                    break;
                                }
                            }
                        }
                    }

                    <div class="row">
                        <div class="col-lg-6">
                            <div style="display: flex; flex-direction: row;">
                                <partial name="_OverallRatingPartial" model="Model.SanPham" />

                                <partial name="_RatingListPartial" model="Model.SanPham" />
                            </div>

                            <partial name="_ReviewListPartial" model="Model.SanPham" />

                        </div>
                        @if (User.Identity.IsAuthenticated && daBinhLuan == false)
                        {
                            <partial name="_AddCommentFormPartial" model="Model" />
                        }
                        else if (daBinhLuan == true && Model.User != null)
                        {
                            @await Component.InvokeAsync("UserReview", new { Model.SanPham.MaSanPham})
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>





</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js" integrity="sha512-IsNh5E3eYy3tr/JiX2Yx4vsCujtkhwl7SLqgnwLNgf04Hrt9BT9SXlLlZlWx+OK4ndzAoALhsMNcCmkggjZB1w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js" integrity="sha512-jGsMH83oKe9asCpkOVkBnUrDDTp8wl+adkB2D+//JtlxO4SrLoJdhbOysIFQJloQFD+C4Fl1rMsQZF76JjV0eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    var slideIndex = 0;
    showSlides();

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("slide");
        if (slideIndex >= slides.length) { slideIndex = 0 }
        if (slideIndex < 0) { slideIndex = slides.length - 1 }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[slideIndex].style.display = "block";
        slideIndex++;
        setTimeout(showSlides, 5000); // Change slide every 5 seconds
    }
    function addToCart(productId) {
        // Thực hiện yêu cầu AJAX để thêm sản phẩm vào giỏ hàng
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                // Hiển thị thông báo khi thêm vào giỏ hàng thành công
                var notification = document.getElementById("cart-notification");
                notification.style.display = "flex"; // Hiển thị box thông báo
            }
        };
        xhttp.open("GET", "/Cart/Add?maSanPham=" + productId, true);
        // Thay đổi đường dẫn tùy thuộc vào cấu trúc URL của ứng dụng của bạn
        xhttp.send();
    }

    function closeNotification() {
        var notification = document.getElementById("cart-notification");
        notification.style.display = "none"; // Ẩn box thông báo
    }



</script>