@model DACS.ViewModel.SanPhamChiTietViewModel;

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Techzone</title>

        <link rel="icon" href="~/favicon.png">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="~/css/bootstrap.min.css">
        <!-- animate CSS -->
        <link rel="stylesheet" href="~/css/animate.css">
        <!-- owl carousel CSS -->
        <link rel="stylesheet" href="~/css/owl.carousel.min.css">
        <!-- font awesome CSS -->
        <link rel="stylesheet" href="~/css/all.css">
        <!-- flaticon CSS -->
        <link rel="stylesheet" href="~/css/flaticon.css">
        <link rel="stylesheet" href="~/css/themify-icons.css">
        <!-- font awesome CSS -->
        <link rel="stylesheet" href="~/css/magnific-popup.css">
        <!-- swiper CSS -->
        <link rel="stylesheet" href="~/css/slick.css">
        <!-- style CSS -->
        <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
     @if (Model != null && Model.IphoneList != null)
     {
        <div class="" style="transform:translate(20px,35px);  background-color:#ffffff; width:98%;">
          <div class="new-product">
              
                  @{
                      int counter = 0;
                      foreach (var item in Model.IphoneList)
                      {
                          <a asp-controller="Home" asp-action="Details" asp-route-MaSanPham="@item.MaSanPham" style="text-decoration:none;">
                             <div class="product @(counter % 6 == 0 && counter > 0 ? "new-row" : "")">
                                 @if (item.HinhAnh != null && item.HinhAnh.Any())
                                 {
                                    @foreach (var image in item.HinhAnh)
                                    {
                                        <img src="~/Images/@image.FileHinhAnh"/>
                                        break;
                                    }
                                 }
                                 else if (Model.HinhAnhList != null && Model.HinhAnhList.Any())
                                 {
                                     // Display a default image from HinhAnhList
                                    <img src="~/Images/@Url.Content(Model.HinhAnhList.First().FileHinhAnh)"/>
                                 }
                                 else
                                 {
                                     // Display a default image
                                    <img src="@Url.Content("/Images/no-images.jpg")">
                                 }

                                <div class="product-info">
                                    <p>@item.TenSanPham</p>
                                    <span style="color:black;">@item.Gia</span>
                                </div>
                                </div>

                          </a>
                          counter++;

                          if (counter % 6 == 0)
                          {
                                    @:</div><div class="new-product">
                          }


                      }



                  }

                    </div>
            </div>
      


}
else
            {
                <p>Null</p>
            }
</body>
</html>
