@model DACS.ViewModel.CartItemViewModel
@{
    Layout = null;
}
<title>Techzone</title>
<link rel="icon" href="~/favicon.png">
<link rel="stylesheet" href="~/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/animate.css">
<link rel="stylesheet" href="~/css/owl.carousel.min.css">
<link rel="stylesheet" href="~/css/all.css">
<link rel="stylesheet" href="~/css/flaticon.css">
<link rel="stylesheet" href="~/css/themify-icons.css">
<link rel="stylesheet" href="~/css/magnific-popup.css">
<link rel="stylesheet" href="~/css/slick.css">
<link rel="stylesheet" href="~/css/style.css">
<style>
    .apply-voucher-btn {
        background-color: #4CAF50; /* Green background */
        border: none; /* Remove border */
        color: white; /* White text */
        padding: 10px 20px; /* Padding */
        text-align: center; /* Center text */
        text-decoration: none; /* Remove underline */
        display: inline-block; /* Make it an inline block */
        font-size: 14px; /* Font size */
        margin: 4px 2px; /* Margin */
        cursor: pointer; /* Add cursor pointer */
        border-radius: 5px; /* Rounded corners */
    }

        .apply-voucher-btn:hover {
            background-color: #45a049; /* Darker green on hover */
        }
</style>
<body>
    <partial name="_Header"/>
    <partial name="_BannerPartial" />

        <section class="cart_area padding_top">
            <div class="container">
                <div class="cart_inner">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Product</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.CartItems.Count > 0 && Model.CartItems != null)
                                {
                                    foreach (var item in Model.CartItems)
                                    {
                                        <tr>
                                            <td>
                                                <div class="media">
                                                    <div class="d-flex">
                                                        <img style="height:150px; width:150px;" src="~/Images/@item.HinhAnh" alt="" />
                                                    </div>
                                                    <div class="media-body">
                                                        <p>@item.TenSanPham</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <h5>@((item.GiaKhuyenMai != null ? item.GiaKhuyenMai.Value : item.Gia).ToString("#,##0 đ"))</h5>
                                            </td>
                                            <td>
                                                <div class="product_count d-flex align-items-center">
                                                    <a class="btn btn-primary px-3 me-2 btn-sm" asp-action="Decrease" asp-route-MaSanPham="@item.MaSanPham"
                                                       onclick="this.parentNode.querySelector('input[type=number]').stepDown()" style="background: none; border: none;">
                                                        <img src="~/image-cart/minus-sign.png" alt="Decrease" class="banner-img">
                                                    </a>
                                                    <div class="form-outline me-2">
                                                        <input id="form1" min="0" name="quantity" value="@item.Soluong" type="number" class="form-control" readonly />
                                                    </div>
                                                    <a class="btn btn-primary px-3 btn-sm" asp-action="Increase" asp-route-MaSanPham="@item.MaSanPham"
                                                       onclick="this.parentNode.querySelector('input[type=number]').stepUp()" style="background: none; border: none;">
                                                        <img src="~/image-cart/add.png" alt="Increase" class="banner-img">
                                                    </a>


                                                </div>
                                            </td>
                                            <td>
                                                <a class="btn btn-danger btn-sm me-1 mb-2" asp-action="Delete" asp-route-MaSanPham="@item.MaSanPham"
                                                   title="Remove item" style="background: none; border: none;">

                                                    <img src="~/image-cart/trash-bin.png" alt="Delete" class="banner-img">

                                                </a>
                                            </td>
                                        </tr>
                                    }
                                    <tr class="bottom_button">
                                        <td>
                                            <a class="btn_1" asp-action="Clear">Clear Cart</a>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td>
    
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <h5>Subtotal</h5>
                                        </td>
                                        <td>
                                            <h5 id="grandTotal">đ</h5>
                                        </td>
                                    </tr>
                                   
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="4">
                                            <h2>Don't have any product in shopping cart</h2>
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                        <div class="checkout_btn_inner float-right">
                            <a href="@Url.Action("Index", "Home")" class="btn_1" style="border: none;">Continue Shopping</a>
                            @if (Model.CartItems.Count > 0)
                            {
                                <a asp-controller="Cart" asp-action="Checkout" class="btn_1 checkout_btn_1" style="border: none;">Proceed to checkout</a>
                            }
                        </div>
                    </div>
                </div>
        </section>
</body>
</html>
<script>
    function formatCurrency(value) {
        return new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(value);
    }

    var grandTotalElement = document.getElementById('grandTotal');
    var giaSanPham = document.getElementById('price-product');
    grandTotalElement.textContent = formatCurrency(@Model.GrandTotal);
</script>

<script>
    function applyVoucher() {
        var voucherCode = encodeURIComponent(document.getElementById("voucherCode").value);
        fetch(`/Cart/ApplyVoucher?code=${voucherCode}`)
            .then(response => response.json())
            .then(data => {
                if (data.valid) {
                    console.log(data);
                    document.getElementById("voucherInfo").innerHTML = `
                    <h4>Voucher Information</h4>
                    <p>Code: ${data.voucher.code}</p>
                    <p>Discount Percentage: ${data.voucher.tyleGiam} %</p>
                    <p>Voucher Description: ${data.voucher.description}</p>
                    <p>Total cost after discount: ${new Intl.NumberFormat('vi-VN').format(data.totalCost)} đ</p>
                `;
                } else {
                    document.getElementById("voucherInfo").innerHTML = "<p style=\"color: red;\">Invalid voucher</p>";
                }
            })
            .catch(error => {
                console.error('Error:', error.message);
                document.getElementById("voucherInfo").innerHTML = "<p style=\"color: red;\">An error occurred while applying the voucher.</p>";
            });
    }
</script>