@model DACS.ViewModel.CartItemViewModel
<style>
    .apply-voucher-btn {
        background-color: #4CAF50; /* Green background */
        border: none; /* Remove border */
        color: white; /* White text */
        padding: 10px 20px; /* Padding */
        text-align: center; /* Center text */
        text-decoration: none; /* Remove underline */
        display: inline-block; /* Make it an inline block */
        font-size: 14px; /* Font size */
        margin: 4px 2px; /* Margin */
        cursor: pointer; /* Add cursor pointer */
        border-radius: 5px; /* Rounded corners */
    }

        .apply-voucher-btn:hover {
            background-color: #45a049; /* Darker green on hover */
        }


</style>
<body>
    <partial name="_BannerPartial"/>

    <form asp-action="Index" method="post" enctype="multipart/form-data">
        <section class="cart_area padding_top">
            <div class="container">
                <div class="cart_inner">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Product</th>
                                    <th scope="col">Price Product</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.CartItems.Count > 0 || Model.CartItems != null)
                                {
                                    foreach (var item in Model.CartItems)
                                    {
                                        <tr>
                                            <td>
                                                <div class="media">
                                                    <div class="d-flex">
                                                        <img style="height:150px; width:150px;" src="~/Images/@item.HinhAnh" alt="" />
                                                    </div>
                                                    <div class="media-body">
                                                        <p>@item.TenSanPham</p>
                                                    </div>
                                                </div>
                                            </td>

                                            <td>


                                                <h5>@((item.GiaKhuyenMai != null ? item.GiaKhuyenMai.Value : item.Gia).ToString("#,##0 đ"))</h5>

                                            </td>

                                            <td>
                                                <div class="product_count d-flex align-items-center">
                                                    <a class="btn btn-primary px-3 me-2 btn-sm" asp-action="Decrease" asp-route-MaSanPham="@item.MaSanPham"
                                                       onclick="this.parentNode.querySelector('input[type=number]').stepDown()" style="background: none; border: none;">
                                                        <img src="~/image-cart/minus-sign.png" alt="Decrease" class="banner-img">
                                                    </a>
                                                    <div class="form-outline me-2">
                                                        <input id="form1" min="0" name="quantity" value="@item.Soluong" type="number" class="form-control" readonly />
                                                    </div>
                                                    <a class="btn btn-primary px-3 btn-sm" asp-action="Increase" asp-route-MaSanPham="@item.MaSanPham"
                                                       onclick="this.parentNode.querySelector('input[type=number]').stepUp()" style="background: none; border: none;">
                                                        <img src="~/image-cart/add.png" alt="Increase" class="banner-img">
                                                    </a>


                                                </div>
                                            </td>
                                            <td>
                                                <a class="btn btn-danger btn-sm me-1 mb-2" asp-action="Delete" asp-route-MaSanPham="@item.MaSanPham"
                                                   title="Remove item" style="background: none; border: none;">

                                                    <img src="~/image-cart/trash-bin.png" alt="Delete" class="banner-img">

                                                </a>
                                            </td>
                                        </tr>
                                    }
                                    <tr class="bottom_button">
                                        <td>
                                            <a class="btn_1" asp-action="Clear">Clear Cart</a>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <div class="cupon_text float-right">
                                                <a class="btn_1" href="#">Close Coupon</a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <h5>Subtotal</h5>
                                        </td>
                                        <td>
                                            <h5 id="grandTotal" style="white-space: nowrap;">@FormatCurrency(Model.GrandTotal).Replace(",00", "")</h5>
                                        </td>
                                    </tr>
                                    /*Form here*/
                                    <tr class="shipping_area">
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <h5>Information Customer</h5>
                                        </td>
                                        <td>
                                                <div class="shipping_box">
                                                    <div class="product-details-infor">
                                                        <div class="general-infor set-background">
                                                            <div class="infor-customer">
                                                                <label asp-for="@Model.DonHang.TenKhachHang">Full Name <span class="text-danger">*</span></label>
                                                                <input  asp-for="@Model.DonHang.TenKhachHang" type="text" value="@Model.DonHang.TenKhachHang">
                                                                <span asp-validation-for="@Model.DonHang.TenKhachHang" class="text-danger"></span>
                                                            </div>
                                                            <div class="infor-customer">
                                                                <label asp-for="@Model.DonHang.DiaChi">Address <span class="text-danger">*</span></label>
                                                                <input asp-for="@Model.DonHang.DiaChi" type="text" value="@Model.DonHang.DiaChi">
                                                                <span asp-validation-for="@Model.DonHang.DiaChi" class="text-danger"></span>
                                                            </div>
                                                            <div class="infor-customer">
                                                                <label asp-for="@Model.DonHang.SoDienThoai">Phone Number <span class="text-danger">*</span></label>
                                                                <input asp-for="@Model.DonHang.SoDienThoai" type="text" value="@Model.DonHang.SoDienThoai">
                                                                <span asp-validation-for="@Model.DonHang.SoDienThoai" class="text-danger"></span>
                                                            </div>
                                                            <div class="infor-customer">
                                                                <label asp-for="@Model.DonHang.YeuCauKhac">Other Reason</label>
                                                                <input asp-for="@Model.DonHang.YeuCauKhac" type="text">
                                                                <span asp-validation-for="@Model.DonHang.YeuCauKhac" class="text-danger"></span>
                                                            </div>
                                                            <div class="infor-customer" id="applyVoucherForm">
                                                                <label asp-for="@Model.Code">Discount code</label>
                                                                <input id="voucherCode" asp-for="@Model.Code" type="text">
                                                                <button type="button" onclick="applyVoucher()" class="apply-voucher-btn">Apply voucher</button>
                                                            </div>
                                                            @if (ViewBag.InvalidVoucher != null)
                                                            {
                                                                <p style="color:red;">@ViewBag.InvalidVoucher</p>
                                                            }
                                                            <div id="voucherInfo"></div>
                                                            <div class="infor-customer" style="display:none;">
                                                                <label asp-for="@Model.DonHang.TrangThaiDonHang">Phone Number <span class="text-danger">*</span></label>
                                                                <input asp-for="@Model.DonHang.TrangThaiDonHang" type="text" value="@DACS.Enum.TrangThaiDonHang.Preparing">
                                                            </div>
                                                            <div class="infor-customer" style="display:none;">
                                                                <label asp-for="@Model.DonHang.TrangThaiThanhToan">Other Reason</label>
                                                                <input asp-for="@Model.DonHang.TrangThaiThanhToan" type="text" value="@DACS.Enum.TrangThaiThanhToan.Unpaid">
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </td>

                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="4">
                                            <h2>Don't have any product in shopping cart</h2>
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                        <div class="checkout_btn_inner float-right">
                            <a href="@Url.Action("Index", "Home")" class="btn_1" style="border: none;">Continue Shopping</a>
                            @if(Model.CartItems.Count > 0)
                            {
                                <button type="submit" class="btn_1 checkout_btn_1" style="border: none;">Proceed to checkout</button>
                            }
                        </div>
                    </div>
                </div>
        </section>
    </form>
</body>
</html>

<script>
    function formatCurrency(value) {
        return new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(value);
    }


    var grandTotalElement = document.getElementById('grandTotal');
    var formattedGrandTotal = '@FormatCurrency(Model.GrandTotal)'.replace('đ', '&#x20AB;').replace(',00', ''); // Thay thế ký tự 'đ' bằng ₫ và loại bỏ phần phụ định ,00
    grandTotalElement.innerHTML = formattedGrandTotal;

</script>


<script>
    function applyVoucher() {
        var voucherCode = encodeURIComponent(document.getElementById("voucherCode").value);
        fetch(`/Cart/ApplyVoucher?code=${voucherCode}`)
            .then(response => response.json())
            .then(data => {
                if (data.valid) {
                    console.log(data);
                    document.getElementById("voucherInfo").innerHTML = `
                    <h4>Voucher Information</h4>
                    <p>Code: ${data.voucher.code}</p>
                    <p>Discount Percentage: ${data.voucher.tyleGiam} %</p>
                    <p>Voucher Description: ${data.voucher.description}</p>
                    <p>Total cost after discount: ${new Intl.NumberFormat('vi-VN').format(data.totalCost)} đ</p>
                `;
                } else {
                    document.getElementById("voucherInfo").innerHTML = "<p style=\"color: red;\">Invalid voucher</p>";
                }
            })
            .catch(error => {
                console.error('Error:', error.message);
                document.getElementById("voucherInfo").innerHTML = "<p style=\"color: red;\">An error occurred while applying the voucher.</p>";
            });
    }
</script>

