@model DACS.ViewModel.CartItemViewModel
<!DOCTYPE html>
<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>aranaz</title>
    <link rel="icon" href="img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- nice select CSS -->
    <link rel="stylesheet" href="css/nice-select.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/price_rangs.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                            TECHZONE
                        </a>
                        @*  <a class="navbar-brand" href="index.html">Techzone</a> *@
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="menu_icon"><i class="fas fa-bars"></i></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    @* <a class="nav-link" href="index.cshtml">Trang chủ</a> *@
                                    <a class="nav-link" asp-controller="Home" asp-action="Index">
                                        Trang chủ
                                    </a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_1"
                                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Danh mục
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_1">
                                        <a class="dropdown-item" asp-controller="Home" asp-action="XemThemSanPhamIphone">
                                            Iphone
                                        </a>
                                        <a class="dropdown-item" asp-controller="Home" asp-action="XemThemSanPhamIMac">
                                            IMac
                                        </a>
                                        <a class="dropdown-item" asp-controller="Home" asp-action="XemThemSanPhamIpad">
                                            IPad
                                        </a>
                                        <a class="dropdown-item" asp-controller="Home" asp-action="XemThemSanPhamLaptop">
                                            Laptop
                                        </a>

                                        @*  <a class="dropdown-item" href="category.html"> Iphone</a> *@
                                        @*  <a class="dropdown-item" href="category.html"> Imac </a> *@
                                        @* <a class="dropdown-item" href="category.html"> Ipad </a> *@
                                        @* <a class="dropdown-item" href="category.html"> Laptop </a> *@
                                        @* <a class="dropdown-item" asp-controller="Home" asp-action="Details">
                                        Chi tiết sản phẩm
                                        </a> *@
                                        @*  <a class="dropdown-item" href="single-product.html">Chi tiết sản phẩm</a> *@

                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_3"
                                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Trang
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                                        @if (!User.Identity.IsAuthenticated)
                                        {
                                            <a class="dropdown-item" asp-controller="Account" asp-action="Login">
                                                Đăng nhập
                                            </a>
                                        }
                                        <a class="dropdown-item" asp-controller="Cart" asp-action="Index">
                                            Giỏ hàng
                                        </a>
                                        <a class="dropdown-item" asp-controller="KiemTraDonHang" asp-action="Details">
                                            Chi tiết đơn hàng
                                        </a>
                                        <a class="dropdown-item" asp-controller="KiemTraDonHang" asp-action="Index">
                                            Kiểm tra đơn hàng
                                        </a>
                                        <a class="dropdown-item" href="checkout.html">Lọc sản phẩm</a>

                                        @*  <a class="dropdown-item" href="tracking.html">Theo dõi </a> *@
                                        @*  <a class="dropdown-item" href="cart.html">Giỏ hàng</a> *@
                                        @*  <a class="dropdown-item" href="confirmation.html">confirmation</a>
                                        <a class="dropdown-item" href="elements.html">elements</a> *@
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_2"
                                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        blog
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                                        <a class="dropdown-item" href="blog.html"> blog</a>
                                        <a class="dropdown-item" href="single-blog.html">Single blog</a>
                                    </div>
                                </li>

                                <li class="nav-item">
                                    @* <a class="nav-link" href="contact.html">Liên hệ</a> *@
                                    <a class="nav-link" asp-controller="Home" asp-action="CSKH">
                                        Liên hệ
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="hearer_icon d-flex">
                            <a id="search_1" href="javascript:void(0)"><i class="ti-search"></i></a>
                            <a href=""><i class="ti-heart"></i></a>
                            <div class="dropdown cart">
                                <a href="/Cart">
                                    <i class="fas fa-cart-plus "></i>
                                </a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!--================Home Banner Area =================-->
    <!-- breadcrumb start-->

    <!-- breadcrumb start-->


    <form asp-action="Index" method="post" enctype="multipart/form-data">
        <section class="cart_area padding_top">
            <div class="container">
                <div class="cart_inner">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Product</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.CartItems.Count > 0)
                                {
                                    foreach (var item in Model.CartItems)
                                    {
                                        <tr>
                                            <td>
                                                <div class="media">
                                                    <div class="d-flex">
                                                        <img src="~/Images/@item.HinhAnh" alt="" />
                                                    </div>
                                                    <div class="media-body">
                                                        <p>@item.TenSanPham</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <h5>@(item.GiaKhuyenMai ?? item.Gia)</h5>
                                            </td>
                                            <td>
                                                <div class="product_count d-flex align-items-center">
                                                    <a class="btn btn-primary px-3 me-2 btn-sm" asp-action="Decrease" asp-route-MaSanPham="@item.MaSanPham"
                                                       onclick="this.parentNode.querySelector('input[type=number]').stepDown()" style="background: none; border: none;">
                                                        <img src="~/image-cart/minus-sign.png" alt="Decrease" class="banner-img">
                                                    </a>
                                                    <div class="form-outline me-2">
                                                        <input id="form1" min="0" name="quantity" value="@item.Soluong" type="number" class="form-control" readonly />
                                                    </div>
                                                    <a class="btn btn-primary px-3 btn-sm" asp-action="Increase" asp-route-MaSanPham="@item.MaSanPham"
                                                       onclick="this.parentNode.querySelector('input[type=number]').stepUp()" style="background: none; border: none;">
                                                        <img src="~/image-cart/add.png" alt="Increase" class="banner-img">
                                                    </a>
                  

                                                </div>
                                            </td>
                                            <td>
                                                <a class="btn btn-danger btn-sm me-1 mb-2" asp-action="Delete" asp-route-MaSanPham="@item.MaSanPham"
                                                   title="Remove item" style="background: none; border: none;">

                                                    <img src="~/image-cart/trash-bin.png" alt="Delete" class="banner-img">

                                                </a>
                                            </td>
                                        </tr>
                                    }
                                    <tr class="bottom_button">
                                        <td>
                                            <a class="btn_1" asp-action="Clear">Clear Cart</a>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <div class="cupon_text float-right">
                                                <a class="btn_1" href="#">Close Coupon</a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <h5>Subtotal</h5>
                                        </td>
                                        <td>
                                            <h5 id="grandTotal">đ</h5>
                                        </td>
                                    </tr>
                                    <tr class="shipping_area">
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <h5>Information Customer</h5>
                                        </td>
                                        <td>
                                            <div class="shipping_box">
                                                @if (User.Identity.IsAuthenticated) // Kiểm tra người dùng đã đăng nhập hay chưa
                                                {
                                                    <!-- Hiển thị thông tin người dùng từ model nếu đã đăng nhập -->
                                                    <div class="product-details-infor">
                                                        <div class="general-infor set-background">
                                                            <div class="infor-customer">
                                                                <label asp-for="KhachHang.Name">Full Name <span class="text-danger">*</span></label>
                                                                <input asp-for="KhachHang.Name" type="text" value="@Model.KhachHang.Name">
                                                                <span asp-validation-for="KhachHang.Name" class="text-danger"></span>
                                                            </div>
                                                            <div class="infor-customer">
                                                                <label asp-for="KhachHang.Address">Address <span class="text-danger">*</span></label>
                                                                <input asp-for="KhachHang.Address" type="text" value="@Model.KhachHang.Address">
                                                                <span asp-validation-for="KhachHang.Address" class="text-danger"></span>
                                                            </div>
                                                            <div class="infor-customer">
                                                                <label asp-for="KhachHang.PhoneNumber">Phone Number <span class="text-danger">*</span></label>
                                                                <input asp-for="KhachHang.PhoneNumber" type="text" value="@Model.KhachHang.PhoneNumber">
                                                                <span asp-validation-for="KhachHang.PhoneNumber" class="text-danger"></span>
                                                            </div>
                                                            <div class="infor-customer">
                                                                <label asp-for="DonHang.YeuCauKhac">Other Reason</label>
                                                                <input asp-for="DonHang.YeuCauKhac" type="text">
                                                                <span asp-validation-for="DonHang.YeuCauKhac" class="text-danger"></span>
                                                            </div>
                                                            <div class="infor-customer">
                                                                <label asp-for="MaGiamGia">Discount code</label>
                                                                <input asp-for="MaGiamGia" type="text">
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <!-- Hiển thị form để lưu thông tin người dùng vào đơn hàng nếu chưa đăng nhập -->
                                                    <div class="product-details-infor">
                                                        <div class="general-infor set-background">
                                                            <div class="infor-customer">
                                                                <label asp-for="DonHang.TenKhachHang">Full Name <span class="text-danger">*</span></label>
                                                                <input asp-for="DonHang.TenKhachHang" type="text">
                                                                <span asp-validation-for="DonHang.TenKhachHang" class="text-danger"></span>
                                                            </div>
                                                            <div class="infor-customer">
                                                                <label asp-for="DonHang.DiaChi">Address <span class="text-danger">*</span></label>
                                                                <input asp-for="DonHang.DiaChi" type="text">
                                                                <span asp-validation-for="DonHang.DiaChi" class="text-danger"></span>
                                                            </div>
                                                            <div class="infor-customer">
                                                                <label asp-for="DonHang.SoDienThoai">Phone Number <span class="text-danger">*</span></label>
                                                                <input asp-for="DonHang.SoDienThoai" type="text">
                                                                <span asp-validation-for="DonHang.SoDienThoai" class="text-danger"></span>
                                                            </div>
                                                            <div class="infor-customer">
                                                                <label asp-for="DonHang.YeuCauKhac">Other Reason</label>
                                                                <input asp-for="DonHang.YeuCauKhac" type="text">
                                                                <span asp-validation-for="DonHang.YeuCauKhac" class="text-danger"></span>
                                                            </div>
                                                            <div class="infor-customer">
                                                                <label asp-for="MaGiamGia">Discount code</label>
                                                                <input asp-for="MaGiamGia" type="text">
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    <!-- Display a message if there are no products in the cart -->
                                    <tr>
                                        <td colspan="4">
                                            <h2>Don't have any product in shopping cart</h2>
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                        <div class="checkout_btn_inner float-right">
                            <a href="@Url.Action("Index", "Home")" class="btn_1" style="border: none;">Continue Shopping</a>
                            <button type="submit" class="btn_1 checkout_btn_1" style="border: none;">Proceed to checkout</button>
                        </div>
                    </div>
                </div>
        </section>
    </form>
</body>
</html>
<script>
    // Định dạng số có dấu chấm để phân tách hàng nghìn
    function formatCurrency(value) {
        return new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(value);
    }

    // Sử dụng JavaScript để cập nhật giá trị tổng giá trị đơn hàng
    var grandTotalElement = document.getElementById('grandTotal');
    grandTotalElement.textContent = formatCurrency(@Model.GrandTotal);
</script>
