@model DACS.Models.DonHang;
@{
    Layout = "_DashBoardAdmin";
}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-xl-6 mb-xl-0 mb-4">
                    <div class="card bg-transparent shadow-xl">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-4">
            <div class="card">
                <div class="card-header pb-0 px-3">
                    <h6 class="mb-0">Order details</h6>
                </div>
                <div class="card-body pt-4 p-3">
                     <form method="post" enctype="multipart/form-data">
                    <ul class="list-group">
                            <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                                <div class="d-flex flex-column">
                                    <h6 class="mb-3 text-sm">@Model.TenKhachHang</h6>
                                    <input readonly class="mb-2 text-xs">@Model.NgayLapDonHang</input>
                                    <input class="mb-2 text-xs">Phone number: <span class="text-dark ms-sm-2 font-weight-bold">@Model.SoDienThoai</span></input>
                                    <input class="mb-2 text-xs">Address: <span class="text-dark ms-sm-2 font-weight-bold">@Model.DiaChi</span></input>
                                    <input class="mb-2 text-xs">Other request: <span class="text-dark ms-sm-2 font-weight-bold">@Model.YeuCauKhac</span></input>
                                    <input class="mb-2 text-xs">Total price: <span class="text-dark ms-sm-2 font-weight-bold">@Model.TongGiaTriDonHang</span></input>
                                    <div>
                                        <label asp-for="@Model.MaTrangThaiDonHang">Order status</label>
                                        <select asp-for="@Model.MaTrangThaiDonHang" id="MaTrangThaiDonHang" name="MaTrangThaiDonHang">
                                            @if (ViewBag.TrangThaiDonHangList != null)
                                            {
                                                foreach (var trangThaiDonHang in ViewBag.TrangThaiDonHangList)
                                                {
                                                    <option value="@trangThaiDonHang.Value">@trangThaiDonHang.Text</option>
                                                }
                                            }
                                            else
                                            {
                                                <option value="">No data available</option>
                                            }
                                        </select>
                                    </div>
                                    <div>
                                        <label asp-for="@Model.MaTrangThaiThanhToan">Payment status</label>
                                        <select asp-for="@Model.MaTrangThaiThanhToan" id="MaTrangThaiThanhToan" name="MaTrangThaiThanhToan">
                                            @if (ViewBag.TrangThaiThanhToanList != null)
                                            {
                                                foreach (var trangThaiThanhToan in ViewBag.TrangThaiThanhToanList)
                                                {
                                                    <option value="@trangThaiThanhToan.Value">@trangThaiThanhToan.Text</option>
                                                }
                                            }
                                            else
                                            {
                                                <option value="">No data available</option>
                                            }
                                        </select>
                                    </div>
                                    <div>
                                        <button class="btn btn-primary" type="submit" style="height:40px; width:100px; transform:translate(1000px,-60px)">Update</button>
                                    </div>
                                </div>
                            </li>
                          
                    </ul>
                    </form>
                    <div>
                        <div class="container mt-5">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Product</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var sanPhamDaBan in Model.ChiTietDonHangSanPham)
                                    {
                                        <tr>
                                            @foreach (var hinhAnh in sanPhamDaBan.SanPham.HinhAnh)
                                            {
                                                <th scope="row">
                                                    <img src="~/Images/@hinhAnh.FileHinhAnh" style="height: 80px; width: 80px;" />
                                                </th>
                                                break;

                                            }
                                            <td>@sanPhamDaBan.SanPham.TenSanPham</td>
                                            <td>@sanPhamDaBan.DonGiaBan</td>
                                            <td>@sanPhamDaBan.SoluongMua</td>
                                            <td>
                                                @if (sanPhamDaBan is Iphone)
                                                {
                                                    <a class="btn btn-primary" asp-area="Admin" asp-controller="Iphone" asp-action="Details" asp-route-MaSanPham="@sanPhamDaBan.MaSanPham">
                                                        Details
                                                    </a>

                                                }
                                                @if (sanPhamDaBan is Ipad)
                                                {
                                                    <a class="btn btn-primary" asp-area="Admin" asp-controller="Ipad" asp-action="Details" asp-route-MaSanPham="@sanPhamDaBan.MaSanPham">
                                                        Details
                                                    </a>

                                                }
                                                @if (sanPhamDaBan is IMac)
                                                {
                                                    <a class="btn btn-primary" asp-area="Admin" asp-controller="iMac" asp-action="Details" asp-route-MaSanPham="@sanPhamDaBan.MaSanPham">
                                                        Details
                                                    </a>

                                                }
                                                @if (sanPhamDaBan is Laptop)
                                                {
                                                    <a class="btn btn-primary" asp-area="Admin" asp-controller="Laptop" asp-action="Details" asp-route-MaSanPham="@sanPhamDaBan.MaSanPham">
                                                        Details
                                                    </a>

                                                }
                                            </td>
                                        </tr>

                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>