@using DACS.Models
@using DACS.ViewModel
@model DonHang;
    <body>
        <div class="container-fluid py-4">
            
            <div class="row">
                <div class="col-md-12 mt-4">
                    <div class="card">
                        <div class="card-header pb-0 px-3">
                            <h6 class="mb-0">Order Information Details</h6>
                        </div>
                        <div class="card-body pt-4 p-3">
                            <ul class="list-group">
                                    <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                                        <div class="d-flex flex-column">
                                            <h6 class="mb-3 text-sm">@Model.TenKhachHang</h6>
                                            <span class="mb-2 text-xs">Invoice date: <span class="text-dark font-weight-bold ms-sm-2">@Model.NgayLapDonHang</span></span>
                                            <span class="mb-2 text-xs">Phone number: <span class="text-dark ms-sm-2 font-weight-bold">@Model.SoDienThoai</span></span>
                                            <span class="mb-2 text-xs">Address: <span class="text-dark ms-sm-2 font-weight-bold">@Model.DiaChi</span></span>
                                            <span class="mb-2 text-xs">Other request: <span class="text-dark ms-sm-2 font-weight-bold">@Model.YeuCauKhac</span></span>
                                            <span class="mb-2 text-xs">Order status: <span class="text-dark ms-sm-2 font-weight-bold">@Model.TrangThaiDonHang.TenTrangThaiDonHang</span></span>
                                            <span class="mb-2 text-xs">Payment status: <span class="text-dark ms-sm-2 font-weight-bold">@Model.TrangThaiThanhToan.TenTrangThaiThanhToan</span></span>
                                            <span class="mb-2 text-xs">Total price: <span class="text-dark ms-sm-2 font-weight-bold">@Model.TongGiaTriDonHang</span></span>

                                        </div>
                                    </li>
                            </ul>
                            <div>
                                <div class="container mt-5">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col"></th>
                                                <th scope="col">Product</th>
                                                <th scope="col">Price</th>
                                                <th scope="col">Quantity</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var sanPhamDaBan in Model.ChiTietDonHangSanPham)
                                            {
                                                <tr>
                                                    @foreach (var hinhAnh in sanPhamDaBan.SanPham.HinhAnh)
                                                    {
                                                        <th scope="row">
                                                            <img src="~/Images/@hinhAnh.FileHinhAnh" style="height: 80px; width: 80px;" />
                                                        </th>
                                                        break;

                                                    }
                                                    <td>@sanPhamDaBan.SanPham.TenSanPham</td>
                                                    <td>@sanPhamDaBan.DonGiaBan</td>
                                                    <td>@sanPhamDaBan.SoluongMua</td>

                                                </tr>

                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="pt-5">
                                    <h6 class="mb-0">
                                        <a href="@Url.Action("Index", "Home")" class="text-body" style="text-decoration: none;">
                                            <i class="fas fa-long-arrow-alt-left me-2"></i>Back
                                        </a>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
