@using DACS.Models
@using DACS.ViewModel
@model DonHangViewModel
    <!DOCTYPE html>
    <html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Techzone</title>

    <link rel="icon" href="~/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="~/css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="~/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="~/css/style.css">


    </head>
    <body>
        <div class="container-fluid py-4">
            
            <div class="row">
                <div class="col-md-12 mt-4">
                    <div class="card">
                        <div class="card-header pb-0 px-3">
                            <h6 class="mb-0">Thông tin chi tiết đơn hàng</h6>
                        </div>
                        <div class="card-body pt-4 p-3">
                            <ul class="list-group">
                                @{
                                    decimal grandTotal = 0;
                                    foreach (var sanPhamDaBan in Model.SanPhamList)
                                    {
                                        foreach (var soLuongMua in Model.ChiTietDonHangSanPhamList)
                                        {
                                            if (soLuongMua.MaSanPham == sanPhamDaBan.MaSanPham)
                                            {
                                                grandTotal += soLuongMua.SoluongMua * sanPhamDaBan.Gia;
                                            }
                                        }
                                    }
                                    <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                                        <div class="d-flex flex-column">
                                            <h6 class="mb-3 text-sm">@Model.DonHang.TenKhachHang</h6>
                                            <span class="mb-2 text-xs">Ngày lập hoá đơn: <span class="text-dark font-weight-bold ms-sm-2">@Model.DonHang.NgayLapDonHang</span></span>
                                            <span class="mb-2 text-xs">Số điện thoại: <span class="text-dark ms-sm-2 font-weight-bold">@Model.DonHang.SoDienThoai</span></span>
                                            <span class="mb-2 text-xs">Địa chỉ: <span class="text-dark ms-sm-2 font-weight-bold">@Model.DonHang.DiaChi</span></span>
                                            <span class="mb-2 text-xs">Yêu cầu khác: <span class="text-dark ms-sm-2 font-weight-bold">@Model.DonHang.YeuCauKhac</span></span>
                                            <span class="mb-2 text-xs">Trạng thái đơn hàng: <span class="text-dark ms-sm-2 font-weight-bold">@Model.TrangThaiDonHang.TenTrangThaiDonHang</span></span>
                                            <span class="mb-2 text-xs">Trạng thái thanh toán: <span class="text-dark ms-sm-2 font-weight-bold">@Model.TrangThaiThanhToan.TenTrangThaiThanhToan</span></span>
                                            <span class="mb-2 text-xs">Tổng tiền: <span class="text-dark ms-sm-2 font-weight-bold">@grandTotal.ToString()</span></span>

                                        </div>
                                    </li>
                                }
                            </ul>
                            <div>
                                <div class="container mt-5">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col"></th>
                                                <th scope="col">Sản phẩm</th>
                                                <th scope="col">Đơn giá</th>
                                                <th scope="col">Số lượng mua</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var sanPhamDaBan in Model.SanPhamList)
                                            {
                                                <tr>
                                                    @foreach (var hinhAnh in Model.HinhAnhList)
                                                    {
                                                        if (hinhAnh.MaSanPham == sanPhamDaBan.MaSanPham)
                                                        {
                                                            <th scope="row">
                                                                <img src="~/Images/@hinhAnh.FileHinhAnh" style="height: 80px; width: 80px;" />
                                                            </th>
                                                            break;
                                                        }
                                                    }
                                                    <td>@sanPhamDaBan.TenSanPham</td>
                                                    <td>@sanPhamDaBan.Gia</td>
                                                    @foreach (var soLuongMua in Model.ChiTietDonHangSanPhamList)
                                                    {
                                                        if (soLuongMua.MaSanPham == sanPhamDaBan.MaSanPham)
                                                        {
                                                            <td>@soLuongMua.SoluongMua</td>
                                                        }
                                                    }

                                                </tr>

                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="pt-5">
                                    <h6 class="mb-0">
                                        <a href="@Url.Action("Index", "Home")" class="text-body" style="text-decoration: none;">
                                            <i class="fas fa-long-arrow-alt-left me-2"></i>Quay lại
                                        </a>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>