@using DACS.Models
@model List<DonHang>

    <body>
        <div class="row">
            <div class="col-md-12 mt-4">
                <div class="card">
                    <div class="card-header pb-0 px-3">
                        <h6 class="mb-0">Order information</h6>
                    </div>
                    <div class="card-body pt-4 p-3">
                        <ul class="list-group">
                            @if (Model != null)
                            {
                                @foreach (var donhang in Model)
                                {
                                    <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                                        <div class="d-flex flex-column">
                                            <h6 class="mb-3 text-sm">@donhang.TenKhachHang</h6>
                                            <span class="mb-2 text-xs">Invoice date: <span class="text-dark font-weight-bold ms-sm-2">@donhang.NgayLapDonHang</span></span>
                                            <span class="mb-2 text-xs">Phone number: <span class="text-dark ms-sm-2 font-weight-bold">@donhang.SoDienThoai</span></span>
                                            <span class="mb-2 text-xs">Address: <span class="text-dark ms-sm-2 font-weight-bold">@donhang.DiaChi</span></span>
                                            <span class="mb-2 text-xs">Other request: <span class="text-dark ms-sm-2 font-weight-bold">@donhang.YeuCauKhac</span></span>

                                            <span class="mb-2 text-xs">Order status: <span class="text-dark ms-sm-2 font-weight-bold">@donhang.TrangThaiDonHang</span></span>
                                            <span class="mb-2 text-xs">Payment status: <span class="text-dark ms-sm-2 font-weight-bold">@donhang.TrangThaiThanhToan</span></span>
                                            <span class="mb-2 text-xs">Total value of Order: <span class="text-dark ms-sm-2 font-weight-bold">@donhang.TongGiaTriDonHang</span></span>


                                        </div>

                                        <div class="ms-auto text-end">
                                            <a asp-controller="KiemTraDonHang" asp-action="Details" asp-route-maDonHang="@donhang.MaDonHang" class="btn btn-link text-dark px-3 mb-0">
                                                <i aria-hidden="true"></i>Details
                                            </a>
                                        </div>
                                    </li>
                                }
                            }
                            <div class="col-md-6">
                                <div class="pt-5">
                                    <h6 class="mb-0">
                                        <a href="@Url.Action("Index", "Home")" class="text-body" style="text-decoration: none;">
                                            <i class="fas fa-long-arrow-alt-left me-2"></i>Back
                                        </a>
                                    </h6>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>