@using DACS.Models
@using DACS.ViewModel
@model DonHangViewModel
    <!DOCTYPE html>
    <html lang="en">
        <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Techzone</title>

    <link rel="icon" href="~/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="~/css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="~/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="~/css/style.css">
        </head>
    <body>
        <div class="row">
            <div class="col-md-12 mt-4">
                <div class="card">
                    <div class="card-header pb-0 px-3">
                        <h6 class="mb-0">Order information</h6>
                    </div>
                    <div class="card-body pt-4 p-3">
                        <ul class="list-group">
                            @if (Model.DonHangList != null)
                            {
                                @foreach (var donhang in Model.DonHangList)
                                {

                                    // Get name
                                    var tenTrangThaiThanhToan = Model._context.TRANGTHAITHANHTOAN.Where(x => x.MaTrangThaiThanhToan == donhang.MaTrangThaiThanhToan).Select(x => x.TenTrangThaiThanhToan).FirstOrDefault();
                                    var tenTrangThaiDonHang = Model._context.TRANGTHAIDONHANG.Where(x => x.MaTrangThaiDonHang == donhang.MaTrangThaiDonHang).Select(x => x.TenTrangThaiDonHang).FirstOrDefault();
                                    <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                                        <div class="d-flex flex-column">
                                            <h6 class="mb-3 text-sm">@donhang.TenKhachHang</h6>
                                            <span class="mb-2 text-xs">Invoice date: <span class="text-dark font-weight-bold ms-sm-2">@donhang.NgayLapDonHang</span></span>
                                            <span class="mb-2 text-xs">Phone number: <span class="text-dark ms-sm-2 font-weight-bold">@donhang.SoDienThoai</span></span>
                                            <span class="mb-2 text-xs">Address: <span class="text-dark ms-sm-2 font-weight-bold">@donhang.DiaChi</span></span>
                                            <span class="mb-2 text-xs">Other request: <span class="text-dark ms-sm-2 font-weight-bold">@donhang.YeuCauKhac</span></span>
                                            <span class="mb-2 text-xs">Order status: <span class="text-dark ms-sm-2 font-weight-bold">@tenTrangThaiDonHang</span></span>
                                            <span class="mb-2 text-xs">Payment status: <span class="text-dark ms-sm-2 font-weight-bold">@tenTrangThaiThanhToan</span></span>
                                            <span class="mb-2 text-xs">Total value of Order: <span class="text-dark ms-sm-2 font-weight-bold"></span></span>

                                        </div>

                                        <div class="ms-auto text-end">
                                            <a asp-controller="KiemTraDonHang" asp-action="Details" asp-route-MaDonHang="@donhang.MaDonHang" class="btn btn-link text-dark px-3 mb-0">
                                                <i aria-hidden="true"></i>Details
                                            </a>
                                        </div>
                                    </li>
                                }
                            }
                            <div class="col-md-6">
                                <div class="pt-5">
                                    <h6 class="mb-0">
                                        <a href="@Url.Action("Index", "Home")" class="text-body" style="text-decoration: none;">
                                            <i class="fas fa-long-arrow-alt-left me-2"></i>Back
                                        </a>
                                    </h6>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>