@{
    Layout = "_DashBoardAdmin";
}
@model DACS.Models.IMac;

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Basic Information</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <form method="post" enctype="multipart/form-data">
                            <table class="table align-items-center height-table">
                                <div class="product-infor">
                                    <div class="product-details-infor">
                                        <div class="general-infor set-background">
                                            <div class="infor-details-products">
                                                <label asp-for="@Model.MaSanPham">Product code</label>
                                                <input asp-for="@Model.MaSanPham" type="text" readonly>
                                            </div>
                                            <div class="infor-details-products">
                                                <label asp-for="@Model.TenSanPham">Product name</label>
                                                <input asp-for="@Model.TenSanPham" type="text">
                                            </div>
                                            <div class="infor-details-products">
                                                <label asp-for="@Model.Mota">Description</label>
                                                <textarea asp-for="@Model.Mota"></textarea>
                                            </div>
                                            <div class="infor-details-products">
                                                <label asp-for="@Model.Gia">Price</label>
                                                <input asp-for="@Model.Gia" type="number">
                                            </div>
                                            <div class="infor-details-products">
                                                <label asp-for="@Model.GiaKhuyenMai">Promotional price</label>
                                                <input asp-for="@Model.GiaKhuyenMai" type="number">
                                            </div>
                                        </div>
                                        <div class="option-infor">
                                            <div>
                                                <label asp-for="@Model.MaThuongHieu">Product brand</label>
                                                <select asp-for="@Model.MaThuongHieu" id="MaThuongHieu" name="MaThuongHieu">
                                                    @if (ViewBag.ThuongHieu != null)
                                                    {
                                                        foreach (var thuongHieu in ViewBag.ThuongHieu)
                                                        {
                                                            <option value="@thuongHieu.Value">@thuongHieu.Text</option>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <option value="">No data available</option>
                                                    }
                                                </select>
                                            </div>
                                            <div>
                                                <label asp-for="@Model.MaLoaiSanPham">Product category</label>
                                                <select asp-for="@Model.MaLoaiSanPham" id="MaLoaiSanPham" name="MaLoaiSanPham">
                                                    @if (ViewBag.LoaiSanPham != null)
                                                    {
                                                        foreach (var loaiSanPham in ViewBag.LoaiSanPham)
                                                        {
                                                            <option value="@loaiSanPham.Value">@loaiSanPham.Text</option>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <option value="">No data available</option>
                                                    }
                                                </select>
                                            </div>

                                            <div>
                                                <label asp-for="@Model.MaRam">RAM</label>
                                                <select asp-for="@Model.MaRam" id="MaRam" name="MaRam">
                                                    @if (ViewBag.Ram != null)
                                                    {
                                                        foreach (var ram in ViewBag.Ram)
                                                        {
                                                            <option value="@ram.Value">@ram.Text</option>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <option value="">No data available</option>
                                                    }
                                                </select>
                                            </div>

                                            <div>
                                                <label asp-for="@Model.MaBoNho">Product Memory</label>
                                                <select asp-for="@Model.MaBoNho" id="MaBoNho" name="MaBoNho">
                                                    @if (ViewBag.BoNho != null)
                                                    {
                                                        foreach (var boNho in ViewBag.BoNho)
                                                        {
                                                            <option value="@boNho.Value">@boNho.Text</option>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <option value="">No data available</option>
                                                    }
                                                </select>
                                            </div>

                                            <div>
                                                <label asp-for="@Model.MaMauSac">Product color</label>
                                                <select asp-for="@Model.MaMauSac" id="MaMauSac" name="MaMauSac">
                                                    @if (ViewBag.MauSac != null)
                                                    {
                                                        foreach (var mauSac in ViewBag.MauSac)
                                                        {
                                                            <option value="@mauSac.Value">@mauSac.Text</option>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <option value="">No data available</option>
                                                    }
                                                </select>
                                            </div>
                                            <div>
                                                <label asp-for="@Model.MaSanPhamDacBiet">Special product</label>
                                                <select asp-for="@Model.MaSanPhamDacBiet" id="MaSanPhamDacBiet" name="MaSanPhamDacBiet">
                                                    @if (ViewBag.SanPhamDacBiet != null)
                                                    {
                                                        foreach (var mauSac in ViewBag.SanPhamDacBiet)
                                                        {
                                                            <option value="@mauSac.Value">@mauSac.Text</option>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <option value="">No data available</option>
                                                    }
                                                </select>
                                            </div>

                                        </div>
                                        <div style="margin-left:150px;">
                                            <div class="form-group col-4 p-0">
                                                <label class="control-label"></label>
                                                <img id="PreviewPhoto" src="~/Images/noimage.png" alt="Logo Image"
                                                     style="width:260px; height:260px; border: 1px solid #333333; border-radius:5px;" />
                                            </div>

                                            <div class="col-1 p-0">
                                            </div>

                                            <div class="form-group col-7 p-0">
                                                <div class="input-group custom-file-button mt-5 pt-5" style="width:260px; height:30px; transform:translateY(-65px);">
                                                    <input asp-for="@Model.FormFiles" multiple class="form-control custom-file-input" type="file" id="customFile">
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                    <div class="infor-details set-background" style="margin-top:30px;">
                                        <div>
                                            <h5>Product parameters</h5>
                                            <div class="details">
                                                <div class="infor-details-products">
                                                    <label asp-for="@Model.CongNgheCPU">CPU</label>
                                                    <input asp-for="@Model.CongNgheCPU" type="text">
                                                </div>
                                                <div class="infor-details-products">
                                                    <label asp-for="@Model.ManHinh">Monitor</label>
                                                    <input asp-for="@Model.ManHinh" type="text">
                                                </div>
                                            </div>
                                            <div class="details">
                                                <div class="infor-details-products">
                                                    <label asp-for="@Model.TocDoCPU">Rate CPU</label>
                                                    <input asp-for="@Model.TocDoCPU" type="text">
                                                </div>
                                                <div class="infor-details-products">
                                                    <label asp-for="@Model.Turbo">Turbo</label>
                                                    <input asp-for="@Model.Turbo" type="text">
                                                </div>
                                            </div>
                                          
                                        </div>

                                    </div>
                                </div>
                            </table>
                            <div>
                                <button class="btn btn-primary" type="submit" style="height:40px; width:100px; transform:translate(1000px,-60px)">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end here -->
