@model DACS.Models.TinTuc

@{
    ViewData["Title"] = "Create";
    Layout = "_DashBoardAdmin";
    ViewBag.ScriptSection = "CreatePageScripts";
}

<div style="background-color:#ffffff;">
    <h1>Create</h1>
    <h4>TinTuc</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="@Model.TieuDe" class="control-label"></label>
                    <input asp-for="@Model.TieuDe" class="form-control" />
                    <span asp-validation-for="@Model.TieuDe" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.TomTat" class="control-label"></label>
                     <textarea asp-for="@Model.TomTat" class="form-control"></textarea>
                    <span asp-validation-for="@Model.TomTat" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.NoiDung" class="control-label"></label>
                    <textarea id="summernoteEditor" name="NoiDung" placeholder="Content" class="form-control"></textarea>
                    <span asp-validation-for="@Model.NoiDung" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.ProfilePhoto" class="control-label"></label>
                    <input asp-for="@Model.ProfilePhoto" class="form-control" type="file">
                    <span asp-validation-for="@Model.ProfilePhoto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.MaChuDe" class="control-label"></label>
                    <select asp-for="@Model.MaChuDe" class="form-control" asp-items="ViewBag.MaChuDe"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="~/lib/summernote/summernote-bs4.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/summernote/summernote-bs4.min.css" />
    <script>
        $(document).ready(function () {
            // Initialize Summernote
            $('#summernoteEditor').summernote({
                height: 300, // Set the height as needed
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'italic', 'underline', 'clear']],
                    ['color', ['forecolor', 'backcolor']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture', 'video']],
                    ['view', ['fullscreen', 'codeview']]
                ]
            });

            // Display the file name when a file is selected
            $('.custom-file-input').on('change', function () {
                var fileName = $(this).val().split('\\').pop();
                $(this).siblings('.custom-file-label').addClass('selected').html(fileName);
            });
        });

        function previewFile() {
            var preview = document.getElementById('previewImage');
            var file = document.querySelector('input[type=file]').files[0];
            var reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
                preview.style.display = 'block';
            }

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = '';
            }
        }
    </script>
}
